#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	cd desmume/src/frontend/posix && \
		CXXFLAGS="$(CXXFLAGS) -Wno-error=format-security -D_POSIX_C_SOURCE=200809L" \
		CFLAGS="$(CFLAGS) -D_POSIX_C_SOURCE=200809L" \
		meson setup ../../../../debian/build \
		--prefix=/usr \
		--buildtype=release

override_dh_auto_build:
	ninja -C debian/build -v -j1

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/desmume-gtk \
		ninja -C debian/build install